body{
    background-color:#001BB7 ;
}
h1{
    color: #0ABAB5;
    text-align: center;
    font-size: 60px;
}
p{
    color: #CFFFE2;
    text-align: Center;
    font-size: 40px;
}
img{
    margin-left: 660px;
    width: 60%
}